{"status":true,"notices":[{"notice_id":"26","notice_title":"নেটফ্লিক্স: বিগ ডেটা ও থিক ডেটার যুগলবন্দী","notice_content":"
<p>তবে কি না সংখ্যাতত্ত্বের কচকচিতে ছোট একটা ঘাপলা আছে। শূন্য থেকে নয় পর্যন্ত সংখ্যাগুলোর পারমুটেশন আর কম্বিনেশনের ধন্দ
    লাগা গ্ল্যামারে সে খটকা আমাদের চোখে পড়ে না। আপনার আমার চোখে না পড়লেও সপ্তম শ্রেণির ছাত্রী নীহারিকার মনে এই খটকা
    বহুদিন ধরেই কড়া নাড়ছে।<\/p>\r\n<p>পরীক্ষায় ১০০ পেলে রোল নম্বর কেন এক হয়? ১০০ যদি বেশি হয়, সেটা সব সময়ই বেশি হওয়ার
    কথা। রোল নম্বরের ক্ষেত্রে ১০০ আবার মন্দ কেন হবে? প্রশ্নটা শুনে পাকামি মনে হলেও সেটা আমাদের ভাবায়। শুধু প্রেক্ষাপটের
    বদলে দেখুন কেমন পালটে গেল ১০০-এর মূল্য।<\/p>\r\n<p>অ্যাডাম স্মিথ যতই বলুন মানুষ অর্থলিপ্সু, কথাটা পুরোটা ঠিক না।
    মানুষের কাজে-কর্মে অন্যান্য মূল্যবোধ জড়িয়ে থাকে। ধরুন ঈদের কেনাকাটা, সবাই জানি ঈদের আগে আগে বিপণিবিতানে পণ্যের দাম
    চড়বে। আমরা সেটা নিয়ে গজগজও করব। তবে উপোস থেকে, বাজার হাঁকিয়ে একগাদা জিনিসপত্র কিনে সুপার মার্কেটের কোনো এক দোকানে
    তিন-চার গুণ বেশি দাম দিয়ে ইফতারি না করলে সেবারের ঈদ আমাদের মাটিই
    যায়।<\/p>","notice_category_id":"1","notice_date":"2018-07-07
    11:28:40","notice_status":"publish","notice_featured_image":"http:\/\/subbirhosain.com\/onb_final\/uploads\/1517337140.jpg"},{"notice_id":"25","notice_title":"নেটফ্লিক্স:
    বিগ ডেটা ও থিক ডেটার যুগলবন্দী","notice_content":"<p>তবে কি না সংখ্যাতত্ত্বের কচকচিতে ছোট একটা ঘাপলা আছে। শূন্য থেকে
    নয় পর্যন্ত সংখ্যাগুলোর পারমুটেশন আর কম্বিনেশনের ধন্দ লাগা গ্ল্যামারে সে খটকা আমাদের চোখে পড়ে না। আপনার আমার চোখে না
    পড়লেও সপ্তম শ্রেণির ছাত্রী নীহারিকার মনে এই খটকা বহুদিন ধরেই কড়া নাড়ছে।<\/p>\r\n<p>পরীক্ষায় ১০০ পেলে রোল নম্বর কেন
    এক হয়? ১০০ যদি বেশি হয়, সেটা সব সময়ই বেশি হওয়ার কথা। রোল নম্বরের ক্ষেত্রে ১০০ আবার মন্দ কেন হবে? প্রশ্নটা শুনে
    পাকামি মনে হলেও সেটা আমাদের ভাবায়। শুধু প্রেক্ষাপটের বদলে দেখুন কেমন পালটে গেল ১০০-এর মূল্য।<\/p>\r\n<p>অ্যাডাম
    স্মিথ যতই বলুন মানুষ অর্থলিপ্সু, কথাটা পুরোটা ঠিক না। মানুষের কাজে-কর্মে অন্যান্য মূল্যবোধ জড়িয়ে থাকে। ধরুন ঈদের
    কেনাকাটা, সবাই জানি ঈদের আগে আগে বিপণিবিতানে পণ্যের দাম চড়বে। আমরা সেটা নিয়ে গজগজও করব। তবে উপোস থেকে, বাজার হাঁকিয়ে
    একগাদা জিনিসপত্র কিনে সুপার মার্কেটের কোনো এক দোকানে তিন-চার গুণ বেশি দাম দিয়ে ইফতারি না করলে সেবারের ঈদ আমাদের
    মাটিই যায়।<\/p>","notice_category_id":"2","notice_date":"2018-07-07
    11:28:16","notice_status":"publish","notice_featured_image":"http:\/\/subbirhosain.com\/onb_final\/uploads\/1517336915.jpg"},{"notice_id":"24","notice_title":"নেটফ্লিক্স:
    বিগ ডেটা ও থিক ডেটার যুগলবন্দী","notice_content":"<p>বাজারি আলাপেই শুরু করা যাক। দোলনা থেকে কবর পর্যন্ত সবই যখন খোলা
    বাজারে বিকোচ্ছে, দোকানের গুণ না গেয়ে কোনো কথাই আসলে শুরু করা যায় না। এই বাজারে সংখ্যার বড়ই কদর। সংখ্যার বিচার আসলে
    সহজ; ১০০ টাকার পণ্য আর হাজার দশেকের মধ্যে ভেদবিভাজন সহজেই করে ফেলা যায়। দিনের শেষে ব্যবসাদারের সহজ লাভ-ক্ষতির
    হিসাবের কদরই বেশি।<\/p>\r\n<p>তবে কি না সংখ্যাতত্ত্বের কচকচিতে ছোট একটা ঘাপলা আছে। শূন্য থেকে নয় পর্যন্ত সংখ্যাগুলোর
    পারমুটেশন আর কম্বিনেশনের ধন্দ লাগা গ্ল্যামারে সে খটকা আমাদের চোখে পড়ে না। আপনার আমার চোখে না পড়লেও সপ্তম শ্রেণির
    ছাত্রী নীহারিকার মনে এই খটকা বহুদিন ধরেই কড়া নাড়ছে।<\/p>\r\n<p>পরীক্ষায় ১০০ পেলে রোল নম্বর কেন এক হয়? ১০০ যদি বেশি
    হয়, সেটা সব সময়ই বেশি হওয়ার কথা। রোল নম্বরের ক্ষেত্রে ১০০ আবার মন্দ কেন হবে? প্রশ্নটা শুনে পাকামি মনে হলেও সেটা
    আমাদের ভাবায়। শুধু প্রেক্ষাপটের বদলে দেখুন কেমন পালটে গেল ১০০-এর
    মূল্য।<\/p>","notice_category_id":"2","notice_date":"2018-07-07
    11:27:38","notice_status":"publish","notice_featured_image":"http:\/\/subbirhosain.com\/onb_final\/uploads\/1517337140.jpg"}]}